:root {
    --primary-font: 'Varela Round', sans-serif;
    --secondary-font: 'Shrikhand', sans-serif;
}

body {
    font-family: var(--primary-font);
}

.background {
    background-image: url(/images/background.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
}

.navbar-brand {
    font-family: var(--secondary-font);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.567);
    color: #f8e0eb;
    font-size: 30px;
}

.navbar-brand:hover {
    color: #f8e0eb;
    cursor: default;
}

.nav-link {
    font-size: 20px;
    color: aliceblue;
}


.nav-link:hover {
    background-color: #EFCBDC;
    border-radius: 10px;
}

.bg-color {
    background-color: #6F83FF;
}

.content-container {
    margin-top: 100px;
    padding: 80px 64px;
    background-color: #EFCBDC;
    border: 10px solid #5575c8;
}

.left-container {
    padding-right: 50px;
}

.title {
    font-size: 96px;
    color: #5F48AD;
    -webkit-text-stroke: 2px #3A51DF;
    line-height: 70px;
}

.name {
    color: #6F83FF;
   -webkit-text-stroke: 2px #3A51DF;
    font-size: 96px;
}

.subtitle {
    font-family: var(--secondary-font);
    font-size: 26px;
    color: #5F48AD;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.button-link {
    padding: 20px 40px;
    font-size: 32px;
    background-color: #3A51DF;
    color: aliceblue;
    box-shadow: 4px 3px 3px grey
}

a {
    text-decoration: none;
}

a:hover {
    background-color: aliceblue;
    color: #3A51DF;
    transition: all 200ms ease-in-out;
}

.link-container {
    margin-top: 20px;
}

.icon-link {
    display: inline-block;
}

.selfie {
    border: 5px solid aliceblue
}

.mobile-subtitle {
    display: none;
}

.mobile-link {
    display: none;
}

.about-me {
    font-size: 60px;
    color: #6F83FF;
    -webkit-text-stroke: 1px #3A51DF;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.405);
    margin-bottom: 40px;
}

.content-container-about {
    margin-top: 100px;
    padding: 80px 64px;
    background-color: #EFCBDC;
    border: 10px solid #5575c8;
}

.work-title {
    font-size: 60px;
    color: #6F83FF;
    -webkit-text-stroke: 1px #3A51DF;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.405);
}

.weather-app-img {
    margin-top: 30px;
}

.weather-app {
    font-size: 30px;
    margin-top: 20px;
}

.weather-app:hover {
    padding: 10px;
    border-radius: 10px;
}

@media (max-width: 900px) {

    #mobile-content-container {
        margin-top: 16px;
        width: 350px;
        display: inline-block!important;
    }

    .title {
        font-size: 60px;
    }

    .name {
        line-height: 60px;
        font-size: 70px;
        margin-bottom: 30px;
    }

    .mobile-subtitle {
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: center;
        color: #5F48AD;
        font-family: var(--secondary-font);
        font-size: 26px;

    }

    .left-container {
        padding: 0;
    }

    .mobile-link {
        margin-top: 40px;
        display: flex;
        width: 200px;
    }

    .button-link {
        padding: 10px 20px;
        font-size: 24px;
        margin-top: 20px;
    }

    .subtitle {
        display: none;
    }
        
    .link-container {
        display: none;
    }

    .selfie {
        display: none;
    }

    .content-container-about {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 350px;
    }

    .about-me {
        font-size: 60px;
        text-align: center;
    }

    iframe {
        width: 300px;
        height: 250px;
    }

    .work-title {
        font-size: 50px;
        text-align: center;
    }
}